ForegroundColour={white+v5}
BackgroundColour={gray-v5}
CursorColour={cyan+s30+v20}
Black={black}
BoldBlack={black}
Red={red+s30+v20}
BoldRed={red+s30+v20}
Green={green+s30+v20}
BoldGreen={green+s30+v20}
Yellow={yellow+s30+v20}
BoldYellow={yellow+s30+v20}
Blue={blue+s30+v20}
BoldBlue={blue+s30+v20}
Magenta={purple+s30+v20}
BoldMagenta={purple+s30+v20}
Cyan={cyan+s30+v20}
BoldCyan={cyan+s30+v20}
White={white+v30}
BoldWhite={white+v30}
